Source: cubicweb-expense
Section: web
Priority: optional
Maintainer: Logilab Packaging Team <contact@logilab.fr>
Uploaders: Sylvain Thenault <sylvain.thenault@logilab.fr>,
  Nicolas Chauvat <nicolas.chauvat@logilab.fr>
Build-Depends:
 debhelper (>= 9),
 python (>= 2.6.5),
Standards-Version: 3.9.6
Homepage: http://www.cubicweb.org/project/cubicweb-expense
X-Python-Version: >= 2.6

Package: cubicweb-expense
Architecture: all
Depends:
 cubicweb-common (>= 3.19.0),
 cubicweb-addressbook,
 cubicweb-file,
 ${python:Depends},
 ${misc:Depends},
Description: expense component for the CubicWeb framework
 This CubicWeb component models expenses (usable to implement
 expense tracking application).
 .
 CubicWeb is a semantic web application framework, see http://www.cubicweb.org
